<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="PrismIf">
    <title>医学图像分割数据集简介</title>
    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity .5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader .5s linear .5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function() {
            setTimeout(function() {
                document.querySelector('body').classList.add('loaded');
            }, 300);
        });
    </script>
    <!-- Favicon -->
    <link rel="icon" href="{{url_for('static',filename='assets/img/brand/favicon.png')}}" type="image/png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{url_for('static',filename='assets/libs/@fortawesome/fontawesome-free/css/all.min.css')}}">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='assets/css/quick-website.css')}}" id="stylesheet">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false" aria-labelledby="modal-cookies" aria-hidden="true">
        <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
            <div class="modal-content bg-dark-dark">
                <div class="modal-body">
                    <!-- Text -->
                    <p class="text-sm text-white mb-3">
                        We use cookies so that our themes work for you. By using our website, you agree to our use of cookies.
                    </p>
                    <!-- Buttons -->
                    <a href="www.github.com" class="btn btn-sm btn-white" target="_blank">Learn more</a>
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-section-secondary">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/">
                <img alt="Image placeholder" src="{{url_for('static',filename='assets/img/brand/dark.svg')}}" id="navbar-logo">
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">主页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about" target="_blank">医学图像分割算法简介</a>
                    </li>
                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="/example" target="_blank" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">案例展示</a>
                        <div class="dropdown-menu dropdown-menu-single">
                            <a href="/example" target="_blank" class="dropdown-item">医学图像常用数据集介绍</a>
                            <a href="/example/chest" target="_blank" class="dropdown-item">胸部X光片数据集</a>
                            <a href="/example/eye_drive" target="_blank" class="dropdown-item">眼底血管数据集</a>
                            <a href="/example/hippocampus" target="_blank" class="dropdown-item">海马体数据集</a>
                            <div class="dropdown-divider"></div>
                            <a href="/example/unet" target="_blank" class="dropdown-item">U-Net算法对不同数据集分割效果</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/liveExperience" target="_blank">实时体验</a>
                    </li>
                </ul>
                <!-- Button -->
                <a class="navbar-btn btn btn-sm btn-primary d-none d-lg-inline-block ml-3" href="https://github.com/1128Prism/miss.git" target="_blank">
                    更多
                </a>
                <!-- Mobile button -->
                <div class="d-lg-none text-center">
                    <a href="/liveExperiencs" class="btn btn-block btn-sm btn-warning">Live</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <section class="slice py-1 bg-section-secondary">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="py-5">
                        <div class="row row-grid justify-content-between align-items-center">
                            <div class="col-lg-5">
                                <h5 class="h3">常用医学图像数据集介绍</h5>
                                <p class="my-4">
                                    一个完好的医学图像数据集对医学图像处理研究有巨大的帮助，在医学图像分割中常见的数据集大多来自于各式各样的<a href="https://grand-challenge.org/" target="_blank">分割挑战赛</a>，
                                    其中最为常见的有：<a href="https://www.med.upenn.edu/cbica/brats2021/ " target="_blank">多模态脑肿瘤分割挑战多模态脑肿瘤分割挑战</a>、
                                    <a href="http://medicaldecathlon.com/" target="_blank">Medical Segmentation Decathlon 医学图像分割十项全能比赛</a>、
                                    <a href="https://www.oasis-brains.org/" target="_blank">OASIS 脑部阿尔茨海默数据集</a>、
                                    <a href="https://drive.grand-challenge.org/" target="_blank">DRIVE 用于血管提取的视网膜图像数据集</a>等.</p>
                                <p class="my-2">更多的数据集可以参考前辈整理的汇总网站：<a href="https://github.com/linhandev/dataset" target="_blank">医学影像数据集集锦.</a>
                                本系统案例展示选用三个数据集进行不同算法的可视化展示:</p>

                                <ul class="list-unstyled mb-0">
                                    <li class="py-2">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                                    <i class="fas fa-file-invoice"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="/example/chest" target="_blank"><span class="h6 mb-0">案例1 胸部X光影像数据集</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="py-2">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                                    <i class="fas fa-file-invoice"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="/example/eye_drive" target="_blank"><span class="h6 mb-0">案例2 眼底血管数据集</span></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="py-2">
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                                    <i class="fas fa-file-invoice"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <a href="/example/hippocampus" target="_blank"><span class="h6 mb-0">案例3 海马体数据集</span></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <p class="my-1">同时可以在以下页面查看U-Net对不同数据集的处理效果</p>
                                 <div class="d-flex align-items-center">
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                    <div>
                                        <a href="/example/unet" target="_blank"><span class="h6 mb-0">U-Net </span></a>
                                    </div>
                                 </div>

                            </div>
                            <div class="col-lg-7">
                                <div class="card mb-0 ml-lg-6">
                                    <div class="card-body p-3">
                                        <img alt="Image placeholder" src={{url_for('static',filename='assets/img/svg/illustrations/illustration-2.svg')}} class="img-fluid shadow rounded">
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="position-relative">
        <div class="footer pt-lg-1 bg-section-secondary">
            <div class="container pt-0">
                <div class="row align-items-center justify-content-md-between pb-1">
                    <div class="col-md-0">
                        <div class="copyright text-sm font-weight-bold text-center text-md-left">
                            &copy; 2023 <a href="https://github.com/1128Prism/miss.git" class="font-weight-bold" target="_blank">PrismIf</a>. All rights reserved
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core JS  -->
    <script src="{{url_for('static', filename='assets/libs/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/libs/svg-injector/dist/svg-injector.min.js')}}"></script>
    <!-- Quick JS -->
    <script src="{{url_for('static', filename='assets/js/quick-website.js')}}"></script>
</body>
</html>